<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alu inox{% endblock %}</title>
        {% block stylesheets %}
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ asset('bundles/global/plugins/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{ asset('bundles/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ asset('bundles/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ asset('bundles/global/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{ asset('bundles/global/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->

            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ asset('bundles/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ asset('bundles/pages/css/login-4.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/global/img/alu.png') }}" />
    </head>
    {% block header %}
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="#">
                            <img src="{{ asset('bundles/global/img/alu.png') }}" alt="logo" class="logo-default">
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">

                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <body>

        {% block body %}

        {% endblock %}
        {% block javascripts %}

            <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('bundles/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('bundles/global/scripts/datatable.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
            <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/plugins/bootstrap-table/bootstrap-table.min.js') }}" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('bundles/global/scripts/app.min.js') }}" type="text/javascript"></script>

            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{{ asset('bundles/pages/scripts/table-datatables-buttons.min.js') }}" type="text/javascript"></script>
            {#<script src="{{ asset('bundles/pages/scripts/table-bootstrap.min.js') }}" type="text/javascript"></script>#}
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="{{ asset('bundles/global/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/global/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/pages/scripts/login-4.min.js') }}" type="text/javascript"></script>
            <!-- END THEME LAYOUT SCRIPTS -->


            {#<script src="{{ asset('bunldes/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>#}

        {% endblock %}
    </body>
</html>
