{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chantiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Budget</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td><a href="{{ path('chantier_show', { 'id': chantier.id }) }}">{{ chantier.id }}</a></td>
                <td>{{ chantier.name }}</td>
                <td>{{ chantier.description }}</td>
                <td>{{ chantier.budget }}</td>
                <td>{% if chantier.dateDebut %}{{ chantier.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if chantier.dateFin %}{{ chantier.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chantier_show', { 'id': chantier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chantier_edit', { 'id': chantier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chantier_new') }}">Create a new chantier</a>
        </li>
    </ul>
{% endblock %}
