{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chantier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ chantier.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.description }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ chantier.budget }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if chantier.dateDebut %}{{ chantier.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if chantier.dateFin %}{{ chantier.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chantier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chantier_edit', { 'id': chantier.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('depense_new', { 'idChantier': chantier.id }) }}">Creer dépense</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
