{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Modifier depense</span>
                </div>

            </div>
            <div class="portlet-body form">
                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ form_label(edit_form.nature) }}</label>
                        <div class="col-md-9">
                            <div class="input-icon">
                                <i class="fa fa-bell-o"></i>
                                {{ form_widget(edit_form.nature, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ form_label(edit_form.montant) }}</label>
                        <div class="col-md-9">
                            <div class="input-icon">
                                <i class="fa fa-bell-o"></i>
                                {{ form_widget(edit_form.montant, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ form_label(edit_form.beneficiaire) }}</label>
                        <div class="col-md-9">
                            <div class="input-icon">
                                <i class="fa fa-bell-o"></i>
                                {{ form_widget(edit_form.beneficiaire, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ form_label(edit_form.description) }}</label>
                        <div class="col-md-9">
                            <div class="input-icon">
                                <i class="fa fa-bell-o"></i>
                                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>



                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a class="btn btn-primary" href="{{ path('depense_index') }}">Retour</a>
                            <input class="btn btn-success" type="submit" value="Edit" />
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
{% endblock %}
