{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <a class="btn btn-outline btn-circle dark btn-sm black" href="{{ path('depense_new') }}"><i class="fa fa-plus-circle" aria-hidden="true"> Ajouter Depense</i></a>
                </div>

                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                    <tr>
                        <th data-field="nature" data-align="center" data-sortable="true">Nature</th>
                        <th data-field="montant" data-sortable="true" data-sortable="true">Montant</th>
                        <th data-field="date" data-align="center" data-sortable="true">Date de création</th>
                        <th data-field="description" data-align="center" data-sortable="true">Description</th>
                        <th data-field="beneficiaire" data-align="center" data-sortable="true">Beneficiaire</th>
                        <th data-field="action" data-align="center" >Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for depense in depenses %}
                        <tr>
                            {#<td><a href="{{ path('depense_show', { 'id': depense.id }) }}">{{ depense.id }}</a></td>#}
                            <td>{{ depense.nature }}</td>
                            <td>{{ depense.montant }} FCFA</td>
                            <td>{% if depense.createAt %}{{ depense.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ depense.description }}</td>
                            <td>{{ depense.beneficiaire }}</td>
                            <td >
                                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default"  href="{{ path('depense_show', { 'id': depense.id }) }}"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a class="btn btn-circle btn-icon-only btn-default"  href="{{ path('depense_edit', { 'id': depense.id }) }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
{% endblock %}

