{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Nouvelle depense</span>
                </div>

            </div>
            <div class="portlet-body form">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form.nature) }}</label>
                            <div class="col-md-9">
                                <div class="input-icon">

                                    {{ form_widget(form.nature, {'attr': {'class': 'form-control','placeholder':'Nature'}}) }}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form.montant) }}</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    {{ form_widget(form.montant, {'attr': {'class': 'form-control','placeholder':'Montant'}}) }}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form.beneficiaire) }}</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    {{ form_widget(form.beneficiaire, {'attr': {'class': 'form-control','placeholder':'Beneficiare'}}) }}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form.description) }}</label>
                            <div class="col-md-9">
                                <div class="input-icon">

                                    {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Description'}}) }}

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn btn-circle btn-primary" href="{{ path('depense_index') }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                                {#{{ form_widget(form.Enregistrer, {'attr': {'class': 'btn green'}}) }}#}
                                <button type="submit" class="btn btn-circle btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
{% endblock %}
