{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-6 col-lg-offset-3">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Depense {{ depense.nature }}</span>

                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-red">
                        <div class="list-head-title-container">
                            <div class="list-date">{{ depense.createAt|date('Y-m-d H:i:s') }}</div>
                            <h3 class="list-title">{{ depense.beneficiaire }}</h3>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            <li class="mt-list-item">

                                <div class="list-datetime"> <td> {{ depense.nature }}</td> </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Nature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="list-datetime"> {{ depense.montant }} FCFA</div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Montant</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">

                                <div class="list-datetime"> {{ depense.beneficiaire }} </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Beneficiaire</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">

                                <div style="float: right"> {{ depense.description }} </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Description</a>
                                    </h3>
                                </div>
                            </li>


                        </ul>

                    </div>
                </div>
                <div class="clear"><br></div>
                <div class="actions" align="center">
                    {{ form_start(delete_form) }}

                    <a class="btn btn-outline btn-circle dark btn-sm blue" href="{{ path('depense_index') }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                    <a href="{{ path('depense_edit', { 'id': depense.id }) }}" class="btn btn-outline btn-circle btn-sm purple">
                        <i class="fa fa-edit"></i> Modifier </a>
                    <button type="submit" class="btn btn-outline btn-circle dark btn-sm red">Supprimer <i class="fa fa-times" aria-hidden="true"></i></button>

                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
