{% trans_default_domain 'FOSUserBundle' %}
{% block stysheet %}
   <style type="text/css">
       .login .content {
           margin-top: 100px;
       }
   </style>
{% endblock %}
<body class=" login">

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->

    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
        <!-- BEGIN LOGO -->

        <!-- END LOGO -->
        <h3 class="form-title">Connexion Alu Inox </h3>
        <div class="error">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        {% if csrf_token %}
            <div class="alert alert-danger display-hide">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </div>
        {% endif %}
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" autocomplete="off" type="password" id="password" name="_password" required="required" />
            </div>
        </div>

        <div class="form-actions">
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <input type="submit" id="_submit" class="btn green pull-right" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>


    </form>

</div>
<!-- END LOGIN -->

</body>